.banner {
  display: flex;

  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  justify-content: center;
  background-image: url(./images/Banner\ Image.png);
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 0 auto;
  isolation: isolate;
  overflow: hidden;
  position: relative;
}
.banner::after {
  content: "";
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;

  z-index: -1;
  margin: 0 auto;
}
.banner-info {
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.banner-greetings {
  font-size: 32px;
  margin: 0;
  font-weight: 400;
}
.banner-title {
  font-size: 72px;
  font-weight: 900;
  margin: 0px;
  width: 632px;
}
.section-info-1 {
  display: flex;
  justify-content: center;
  display: inline;
}
.section-elements-1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.section-elements-2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.section-elements-3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.section-image {
  width: 802.9px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section2-bgi {
  background-image: url(./images/Vectorrr.png);

  font-family: Merriweather;
  font-style: normal;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.section2-info {
  display: flex;
  display: inline;
  align-items: center;
  margin-left: 150px;
}
.section2-elements-1 {
  color: #fff;

  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  width: 642px;
}
.section2-elements-2 {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);

  font-family: Inter;
  font-size: 18px;

  font-weight: 400;
}
.button1 {
  /* color: #fff; */
  text-align: center;
  font-family: Inter;
  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.section2-img {
  display: flex;
  width: 319.83px;
  height: 464.662px;
  padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.section3-info {
  width: 1320px;
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0 auto;
  font-family: Inter;
  margin-top: 50px;
}
.section3-elements {
  color: #070211;
  text-align: center;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  align-items: center;
  list-style: none;
}
.button2 {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.section4-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4-elements1 {
  display: flex;
  display: inline;
  justify-content: center;
  align-items: center;
}

.section4-elements-info1 {
  color: #f00;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.section4-elements-info2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.section4-elements-info3 {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.section4-elements2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
}
.section4-elements2-pic1 {
  width: 364.844px;
  height: 364.844px;
  border-radius: 364.844px;

  background: url(images/Ellipse\ 1.png),
    lightgray -91.279px 0px / 150.038% 100% no-repeat;
}
.section4-elements3 {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
}
.section4-elements3-info1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section4-elements3-info2 {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.section4-elements3-info3 {
  width: 140px;
  height: 140px;
}
.section5 {
  background: #fff;
  display: flex;
  display: inline;

  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 1600px;
  height: 7335px;
}
.section5-elements1 {
  display: flex;
  display: inline;
  justify-content: center;
  align-items: center;
}
.section5-elements1-info1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.section5-elements1-info2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
}
.section5-elements1-info3 {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.section5-elements2 {
  display: flex;
  display: inline;
  width: 424px;
  height: 450px;
  border-radius: 16px;
}
.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
